.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* Para que el video quede detrás del contenido principal */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajustar el tamaño del video para cubrir el contenedor */
}